{% extends 'base.html.twig' %}

{% block header %}

<div class="container-fluid">
<div class="row">
		
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="/">
		     <img src="https://media.istockphoto.com/vectors/letter-p-icon-concept-vector-id845914336?k=6&m=845914336&s=612x612&w=0&h=GxVSfe9z0beRDg6VjHvm3RtLiBbGbP3jx-ap-IVDRXc=" width="30" height="30" class="d-inline-block align-top" alt="">
			Prostages
		  </a>
			
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
			  <a class="nav-item nav-link" href="/">Accueil</a>
			  <a class="nav-item nav-link" href="/stages">Stages</a>
			  <a class="nav-item nav-link" href="/entreprises">Entreprises</a>
			  <a class="nav-item nav-link active" href="/formations">Formations</a>
			</div>
		  </div>
		  {% if is_granted('ROLE_ADMIN') %}
<ul class="navbar-nav ml-md-auto">
		<li class="nav-item">
				<a class="nav-link" href="{{path('formation_index')}}"> 
				Gérer les formations
				</a>
		</li>
	</ul>
{% endif %}
		  {% if is_granted('ROLE_USER') %}
	<ul class="navbar-nav ml-md-auto">
		<li class="nav-item">
				<a class="nav-link" href="{{path('app_logout')}}"> 
				{{app.user.prenom}}
				{{app.user.nom}} 
				Déconnexion 
				</a>
		</li>
	</ul>
{% else %}
	<ul class="navbar-nav ml-md-auto">
		<li class="nav-item active">
				<a class="nav-link" href="{{path('app_inscription')}}"> Inscription	</a>
		</li>

<li class="nav-item active">
				<a class="nav-link" href="{{path('app_login')}}"> Connexion	</a>
		</li>
	</ul>

	{% endif %}
		</nav>
				
</div>			
	
</div>	
	
{% endblock %}


{% block contenu %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th>
							#
						</th>
						<th>
							Nom
						</th>
					
					</tr>
				</thead>
				{% for formationCourante in formations %}
				<tbody>
					<tr>
						<td>
							{{formationCourante.id}}
						</td>
						<td>
							{{formationCourante.nom}}
						</td>
					</tr>
					
					
				 {% endfor %}	
					
				</tbody>
			</table>
		</div>
	</div>
	</div>

{% endblock %}