{% extends 'base.html.twig' %}

{% block header %}

<div class="container-fluid">
	 <div class="row">	
	  
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="/">
		     <img src="https://media.istockphoto.com/vectors/letter-p-icon-concept-vector-id845914336?k=6&m=845914336&s=612x612&w=0&h=GxVSfe9z0beRDg6VjHvm3RtLiBbGbP3jx-ap-IVDRXc=" width="30" height="30" class="d-inline-block align-top" alt="">
			Prostages
		  </a>
			
	
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
			  <a class="nav-item nav-link" href="/">Accueil</a>
			  <a class="nav-item nav-link active" href="/stages">Stages</a>
			  <a class="nav-item nav-link" href="/entreprises">Entreprises</a>
			  <a class="nav-item nav-link" href="/formations">Formations</a>
			</div>
		  </div>
{% if is_granted('ROLE_ADMIN') %}
<ul class="navbar-nav ml-md-auto">
		<li class="nav-item">
				<a class="nav-link" href="{{path('formation_index')}}"> 
				Gérer les formations
				</a>
		</li>
	</ul>
{% endif %}
		{% if is_granted('ROLE_USER') %}
	<ul class="navbar-nav ml-md-auto">
		<li class="nav-item">
				<a class="nav-link" href="{{path('app_logout')}}"> 
				{{app.user.prenom}}
				{{app.user.nom}} 
				Déconnexion 
				</a>
		</li>
	</ul>
{% else %}
	<ul class="navbar-nav ml-md-auto">
		<li class="nav-item active">
				<a class="nav-link" href="{{path('app_inscription')}}"> Inscription	</a>
		</li>

<li class="nav-item active">
				<a class="nav-link" href="{{path('app_login')}}"> Connexion	</a>
		</li>
	</ul>

	{% endif %}

		</nav>		
			
	  </div>
	</div>		
	
{% endblock %}

{% block contenu %}

<div class="container">
 <div class="row">
	<table class="table">
	  <thead class="thead-dark">
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">Nom</th>
		  <th scope="col">Entreprise</th>
		  <th scope="col">Formation</th>
		</tr>
	  </thead>
	  <tbody>

	  {% for stageCourant in stagesEntreprises %}
		<tr>
		  <th scope="row">{{stageCourant.id}}</th>
		  <td><a href={{path ("prostage_detailsstage",{"idstage": stageCourant.id})}}>{{stageCourant.titre}} - {{stageCourant.entreprise.nom}}</a></td>
		  <td><a href={{path ("prostage_stages_pour_entreprise",{"nomEntreprise": stageCourant.entreprise.nom})}}>{{stageCourant.entreprise.nom}}</a></td>
		  <td>
		  {% for formationCourante in stageCourant.formation %}
		  <a href={{path ("prostage_stages_pour_formation",{"nomFormation": formationCourante.nom})}}>{{formationCourante.nom}}</a>
		  {% endfor %}	
		  </td>	
		 </tr>
		
	  {% endfor %}
	
	  </tbody>
	</table>
	
 </div>
 <center><a href={{path ("prostage_nvStage")}} class="btn btn-primary">Ajouter un stage</a></center>
</div>

{% endblock %}